[run]
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
    */pyx12/test/*
    */pyx12/scripts/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    def debug_print
