include *.txt
recursive-include bin *.py *.sample
recursive-include map *.xml *.xsd *.xsl README
recursive-include view Makefile *.xsl *.css
recursive-include test test*.py
recursive-include test/files *.txt *.base
