<?xml version="1.0" encoding="utf-8"?>
<x12simple>
  <loop id='ISA_LOOP'>
    <seg id='ISA'>
      <ele id='ISA01'>00</ele>
      <ele id='ISA02'>          </ele>
      <ele id='ISA03'>00</ele>
      <ele id='ISA04'>          </ele>
      <ele id='ISA05'>ZZ</ele>
      <ele id='ISA06'>AAAA           </ele>
      <ele id='ISA07'>ZZ</ele>
      <ele id='ISA08'>BBBB           </ele>
      <ele id='ISA09'>050607</ele>
      <ele id='ISA10'>1650</ele>
      <ele id='ISA11'>U</ele>
      <ele id='ISA12'>00401</ele>
      <ele id='ISA13'>000296231</ele>
      <ele id='ISA14'>1</ele>
      <ele id='ISA15'>P</ele>
      <ele id='ISA16'>:</ele>
    </seg>
    <loop id='GS_LOOP'>
      <seg id='GS'>
        <ele id='GS01'>RA</ele>
        <ele id='GS02'>AAAA</ele>
        <ele id='GS03'>BBBB</ele>
        <ele id='GS04'>20050215</ele>
        <ele id='GS05'>0000</ele>
        <ele id='GS06'>962310001</ele>
        <ele id='GS07'>X</ele>
        <ele id='GS08'>004010X061A1</ele>
      </seg>
      <loop id='ST_LOOP'>
        <seg id='ST'>
          <ele id='ST01'>820</ele>
          <ele id='ST02'>0001</ele>
        </seg>
        <loop id='HEADER'>
          <seg id='BPR'>
            <ele id='BPR01'>I</ele>
            <ele id='BPR02'>3000</ele>
            <ele id='BPR03'>C</ele>
            <ele id='BPR04'>ACH</ele>
            <ele id='BPR05'>CCP</ele>
            <ele id='BPR06'>01</ele>
            <ele id='BPR07'>999999999</ele>
            <ele id='BPR08'>DA</ele>
            <ele id='BPR09'>9999999</ele>
            <ele id='BPR10'>1383399999</ele>
            <ele id='BPR12'>01</ele>
            <ele id='BPR13'>999999999</ele>
            <ele id='BPR14'>DA</ele>
            <ele id='BPR15'>9999999</ele>
            <ele id='BPR16'>20050217</ele>
          </seg>
          <seg id='TRN'>
            <ele id='TRN01'>3</ele>
            <ele id='TRN02'>999999999</ele>
            <ele id='TRN03'>1383399999</ele>
          </seg>
          <seg id='REF'>
            <ele id='REF01'>14</ele>
            <ele id='REF02'>383399999</ele>
          </seg>
          <loop id='1000A'>
            <seg id='N1'>
              <ele id='N101'>PE</ele>
              <ele id='N102'>BBBB</ele>
              <ele id='N103'>FI</ele>
              <ele id='N104'>383399999</ele>
            </seg>
          </loop>
          <loop id='1000B'>
            <seg id='N1'>
              <ele id='N101'>PR</ele>
              <ele id='N102'>AAAA</ele>
              <ele id='N103'>FI</ele>
              <ele id='N104'>383399999</ele>
            </seg>
          </loop>
        </loop>
        <loop id='DETAIL'>
          <loop id='2000B'>
            <seg id='ENT'>
              <ele id='ENT01'>11</ele>
              <ele id='ENT02'>2J</ele>
              <ele id='ENT03'>EI</ele>
              <ele id='ENT04'>13314999</ele>
            </seg>
            <loop id='2100B'>
              <seg id='NM1'>
                <ele id='NM101'>QE</ele>
                <ele id='NM102'>1</ele>
              </seg>
            </loop>
            <loop id='2300B'>
              <seg id='RMR'>
                <ele id='RMR01'>AZ</ele>
                <ele id='RMR02'>5038561705</ele>
                <ele id='RMR04'>1000</ele>
                <ele id='RMR05'>0</ele>
              </seg>
              <seg id='DTM'>
                <ele id='DTM01'>582</ele>
                <ele id='DTM05'>RD8</ele>
                <ele id='DTM06'>20040901-20040930</ele>
              </seg>
            </loop>
          </loop>
          <loop id='2000B'>
            <seg id='ENT'>
              <ele id='ENT01'>13</ele>
              <ele id='ENT02'>2J</ele>
              <ele id='ENT03'>EI</ele>
              <ele id='ENT04'>15776068</ele>
            </seg>
            <loop id='2100B'>
              <seg id='NM1'>
                <ele id='NM101'>QE</ele>
                <ele id='NM102'>1</ele>
              </seg>
            </loop>
            <loop id='2300B'>
              <seg id='RMR'>
                <ele id='RMR01'>AZ</ele>
                <ele id='RMR02'>5038561800</ele>
                <ele id='RMR04'>2000</ele>
                <ele id='RMR05'>0</ele>
              </seg>
              <seg id='DTM'>
                <ele id='DTM01'>582</ele>
                <ele id='DTM05'>RD8</ele>
                <ele id='DTM06'>20060801-20060831</ele>
              </seg>
            </loop>
          </loop>
        </loop>
        <seg id='SE'>
          <ele id='SE01'>15</ele>
          <ele id='SE02'>0001</ele>
        </seg>
      </loop>
      <seg id='GE'>
        <ele id='GE01'>1</ele>
        <ele id='GE02'>962310001</ele>
      </seg>
    </loop>
    <seg id='IEA'>
      <ele id='IEA01'>1</ele>
      <ele id='IEA02'>000296231</ele>
    </seg>
  </loop>
</x12simple>
