body
{
}

table
{
	width: 100%; 
	border:1px solid white;
    background-color: #0000CC;
    margin-left: 10px;
}

tr.loop
{
    background-color: #FEC7EF;
    color: black;
    font-style: normal;
    height: 20px;
    text-align: center;
    vertical-align: top;
    width: 17%;
}

tr.segment
{
    background-color: #CCCCFF;
    color: black;
    font-style: normal;
    height: 20px;
    text-align: left;
    vertical-align: top;
    width: 17%;
    margin-left: 20px;
}
